img {
    width: 252px;
}

.human {
    font-family: 'Xanh Mono', monospace;
}

.stuff {
    color: #39284f;
}

body {
    background-color: #F4F1F7;
}

.future {
    font-family: 'Xanh Mono', monospace;
}

.job {
    font-family: 'Raleway', sans-serif;
}